mongodb:
    username: "MONGO_USER"
    password: "MONGO_PWD"
    host: "localhost"
    port: 27017
    database: "esiee-api"
aurion:
    username: "ASK SMIG"
    password: "ASK SMIG"
    groupsRequestId: 18152762 # ASK SMIG
    unitesRequestId: 18152938 # ASK SMIH

ade:
    projectId: 9 # Check on ADE exported link

global:
    version: 0.7.3
    refreshCache: true
    debug: false
    refreshInterval: 1
    rooms: [
        "0110",
        "0112",
        "0113",
        "0114",
        "0115",
        "0160",
        "0210",
        "0260",
        "1005",
        "1007",
        "1051",
        "1103",
        "1105",
        "1107",
        "1109",
        "1201",
        "1205",
        "1207",
        "1301",
        "1305",
        "1307",
        "1309",
        "1401",
        "1403",
        "1405",
        "1407",
        "1409",
        "2101",
        "2102",
        "2103",
        "2104",
        "2105",
        "2107",
        "2108",
        "2201",
        "2205",
        "2207",
        "2209",
        "3001",
        "3005",
        "3007",
        "3051",
        "3053",
        "3103",
        "3105",
        "3107",
        "3109",
        "3201",
        "3203",
        "3207",
        "3305",
        "3307",
        "4201",
        "4307",
        "4401",
        "4403",
        "4405",
        "4451",
        "5004",
        "5006",
        "5008",
        "5401",
        "5403",
        "5405",
        "5407"
    ]

